* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/*navbar*/
nav {
    display: flex;
    background-image: linear-gradient(pink, skyblue);
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav h1 {
    padding-top: 15px;
    padding-left: 30px;
    font-size: 30px;
}
.nav {
    display: flex;
    width: 400px;
}
h3 {
    padding: 20px;
    border-radius: 15px;
}
h3:hover {
    background-image: linear-gradient(aqua, violet);
}
a {
    color: black;
}

/*banner*/
.banner {
    display: flex;
    height: 90vh;
    background-size: cover;
    background-position: center;
}
.banner h1{
    display: flex;
    flex-direction: column;
    color: cadetblue;
    padding: 50px;
    margin: auto;
    border: 1px solid;
    border-radius: 30px;
    background-color: rgba(68, 145, 145, 0.247);
}
.banner i {
    margin-left: 120px;
}
.barbie {
    background-image: url(./poster/barbi.jpg);
}
.bb {
    background-image: url(./poster/bb.jpg);
}

/*deskripsi*/
.deskripsi {
    padding: 30px;
}

/*trailer*/
.traier {
    padding: 30px;
}
.iframe {
    margin-top: 20px;
    
}

/*film lain*/
.filmlain {
    padding: 30px;
}
.box {
    display: flex;
    justify-content: space-between;
}
.box img {
    height: 360px;
    width: 260px;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px seagreen;
}
.box img:hover {
    transform: translateY(-5%);
    transition: 0.7s;
}

/*footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    background-image: linear-gradient(pink, skyblue);
    color: black;
}